/* Font Roboto */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "_mixins";
/* Clases */
.container_max {
  width: 96%;
  margin: 0 auto;
}

/* Variables */

/* Fonts */
$font: "Roboto", sans-serif;
/* Colors */
$green: #84d020;
$dark-grey: #6b6b6b;
$lighter-grey: #6b6b6b;
$background-color: #efefef;
$darkness-grey: #3a3f3a;
$grey-more-lighter: #929292;

/* Selection */
body {
  background: $background-color;
  margin: 0;
  padding: 0;
  *::selection {
    background-color: rgba(93, 161, 50, 0.9);
    color: white;
  }
}

.principal-nav-desktop {
  display: none;
}
/* Principal Nav Mobile */

.principal-nav-mobile {
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 5;
  ul {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    li {
      list-style: none;
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      &:nth-of-type(3) {
        a {
          &:first-child {
            color: $dark-grey;
          }
        }
      }

      a {
        color: $green;
        display: inline-block;
        padding: 10px 5px;
        span {
          font-size: 1.3rem;
        }
        img {
          max-width: 160px;
        }
      }
    }
  }
}

/* Second Nav Mobile */
.second-nav {
  padding-top: 2.5rem;
  .second-nav__breadcrupm {
    ul {
      padding-left: 1rem;
      display: flex;
      padding-left: 0px;
      li {
        list-style: none;
        font-family: $font;
        font-size: 0.8rem;
        font-weight: 300;
        &:nth-of-type(1) {
          position: relative;
          &:after {
            font-family: "Font Awesome 5 Free";
            content: "\f105";
            display: inline-block;
            font-size: 1rem;
            color: $lighter-grey;
            position: absolute;
            font-weight: 900;
            padding-left: 0.3rem;
          }
        }
        &:nth-of-type(2) {
          padding-left: 1rem;
          color: $lighter-grey;
        }
        a {
          text-decoration: none;
          color: $green;
          cursor: pointer;
        }
      }
    }
  }
  /* Filter */
  .second-nav__filter {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    ul {
      padding-left: 0px;
      &:nth-of-type(2) {
        li {
          &:nth-of-type(1) {
            &::before {
              font-family: "Font Awesome 5 Free";
              content: "\f041";
              display: inline-block;
              font-size: 1rem;
              color: $lighter-grey;
              position: absolute;
              font-weight: 900;
              padding-left: 0.3rem;
            }
          }
        }
      }
      li {
        list-style: none;
        font-family: $font;
        text-align: left;
        border-bottom: 1px solid #efefef;
        background: $green;
        width: 100%;
        height: 1.875rem;
        a {
          font-size: 0.9rem;
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: white;
          padding-left: 0.5rem;
          padding: 7px 10px;
          span {
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}
.wrapper-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 2rem;
  padding-bottom: 3rem;
  .card {
    background: white;
    position: relative;
    .card__image {
      img {
        width: 100%;
        height: auto;
      }
    }
    .card__discount-label {
      color: #fff;
      font-family: $font;
      background: url("/src/flag.png") no-repeat 0 0 transparent;
      background-size: 146px 88px;
      width: 146px;
      height: 74px;
      padding: 14px 0 0 5px;
      position: absolute;
      top: 10px;
      left: 0;
      span {
        &:nth-of-type(1) {
          font-size: 0.9rem;
          font-weight: 300;
        }
        p {
          margin-top: 0px;
          padding-bottom: 1rem;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
    .card__content {
      padding: 15px;
      box-sizing: border-box;
      .card__title {
        font-size: 1.5rem;
        line-height: 1.2;
        padding-bottom: 0.5rem;
        margin-top: 0px;
        margin-bottom: 0px;
        a {
          text-decoration: none;
          color: $darkness-grey;
          font-family: $font;
          font-weight: 500;
          &:hover {
            color: $green;
          }
        }
      }
      .card__description {
        margin-top: 0px;
        font-size: 0.8rem;
        line-height: 1;
        color: $lighter-grey;
      }
      .card__container-info-price {
        display: flex;
        justify-content: space-between;
        .card__info-price {
          small {
            display: block;
            color: $lighter-grey;
            font-family: $font;
            font-size: 0.6rem;
          }
          span {
            a {
              text-decoration: none;
              color: $green;
              font-size: $font;
              font-size: 2.5rem;
              font-weight: bold;
              span {
                font-size: 2rem;
              }
            }
          }
        }
        .card__actions {
          padding-top: 1.2rem;
          .card__button {
            padding: 10px 20px;
            border: 1px solid $green;
            color: $green;
            font-size: 1rem;
            font-family: $font;
            text-transform: uppercase;
            border-radius: 2px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
            text-decoration: none;
            &::after {
              font-family: "Font Awesome 5 Free";
              content: "\f105";
              display: inline-block;
              font-size: 1rem;
              color: $green;
              position: absolute;
              font-weight: 900;
              padding-left: 0.5rem;
              &:hover {
                color: whte;
              }
            }
            &:hover {
              background-color: $green;
              color: white;
            }
          }
        }
      }
    }
  }
}
.card-offer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: white;
  border-bottom: 2rem;
  border-bottom: 1px solid #e2e2e2;
  .card-offer__wrapper {
    padding: 15px 20px;
    h2 {
      font-size: 1rem;
      font-family: $font;
      color: $dark-grey;
      margin-bottom: 15px;
    }
  }
  .card-offer__text {
    p {
      padding-bottom: 0.5rem;
      color: $grey-more-lighter;
      font-family: $font;
      font-size: 0.7rem;
      font-weight: 400;
    }
  }
}
footer {
  .footer-products {
    padding: 0 15px;
    ul {
      padding-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(81px, 1fr));
      padding-left: 0px;
      li {
        list-style: none;
        border-left: 1px solid #e2e2e2;
        box-sizing: border-box;
        text-align: center;
        a {
          text-decoration: none;
          span {
            color: $green;
            font-size: 2rem;
            line-height: 1;
            display: block;
            margin: 0 auto;
          }
          p {
            padding: 0 5px;
            color: $darkness-grey;
            font-family: $font;
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}
.footer-modules {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(328px, 1fr));
  grid-gap: 2rem;
  .footer-modules__card_wrapper {
    .footer-modules__card {
      padding: 0;
      @include coverimg(
        "//www.viajeselcorteingles.es/web/ss/Satellite?blobcol=urldata&blobheader=image%2Fjpeg&blobheadername1=Cache-Control&blobheadername2=Content-disposition&blobheadername3=ssbinary&blobheadervalue1=max-age%3D600&blobheadervalue2=attachment%3B+filename%3D%22img_empresas_footer_301x170.jpg%22&blobheadervalue3=true&blobkey=id&blobtable=MungoBlobs&blobwhere=1364905272729&ssbinary=true"
      );
    }
  }
}

@media only screen and (min-width: 666px) {
  body {
    max-width: 70%;
    margin: 0 auto;
  }
  .principal-nav-mobile {
    display: none;
  }
  .principal-nav-desktop {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      padding-left: 0px;
      display: flex;
      &:nth-of-type(2) {
        li {
          padding-right: 1rem;
          &:nth-of-type(1) {
            text-decoration: none;
            color: $dark-grey;
            font-family: $font;
            font-size: 0.7rem;
          }
        }
      }
      li {
        list-style: none;
      }
    }
  }
  .second-nav__breadcrupm {
    width: 100%;
    margin: 0;
  }
  .second-nav__filter {
    width: 100%;
    margin: 0;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: auto !important;
        a {
          display: block !important;
          span {
            padding-left: 0.5rem;
          }
        }
      }
    }
  }
}
